<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This app allows you to input a URL and will use MeaningCloud to run Sentiment Analysis on that page and print feedback for the user">
        <meta name="author" content="Daniel Brasher">
        <title>Evaluate a News Article with Natural Language Processing</title>
    </head>

    <body>

        <header>

            <div class="logo">
                <h1>Evaluate a News Article with Natural Language Processing</h1>
            </div>

        </header>

        <main>
            <section class="form">
                <input id="name" type="text" name="input" value="" placeholder="Paste your URL in here...">
                <button onclick="return Client.handleSubmit(event)">Let's go!</button>
              </section>

            <section>
                <div id="results">
                    <h3>Time to find out what the sentiment of the article is...</h3>
                    <div class="nlp-result" id="agreement"></div>
                    <div class="nlp-result" id="subjectivity"></div>
                    <div class="nlp-result" id="irony"></div>
                    <div class="nlp-result" id="confidence"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Acknowledgment to <a href="https://www.meaningcloud.com/" target="_blank">Meaning Cloud</a> for the Natural Language Processing</p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
           </script>
    </body>
</html>
