<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This app allows you to input a URL and will use MeaningCloud to run Sentiment Analysis on that page and print feedback for the user">
        <meta name="author" content="Daniel Brasher">
        <title>Evaluate a News Article with Natural Language Processing</title>
    </head>

    <body>

        <header>

            <div class="logo">
                <h1>Evaluate a News Article with Natural Language Processing</h1>
                <h2>By Dan Brasher</h2>
            </div>

        </header>

        <main>
            <section id="description">
                <p>This is a tool to help you analyze the sentiment of articles online. Just copy the URL of your article below and we'll use Meaning Cloud's Sentiment Analysis feature to come back with some insights around how in agreement the article is, how subjective they are, how ironic they are being and how confident they are in what they are saying. </p>
            </section>
            <section class="form">
                <input id="name" type="text" name="input" value="" placeholder="Paste your URL in here...">
                <button onclick="return Client.handleSubmit(event)">Let's go!</button>
              </section>

            <section>
                <div id="results">
                    <h3>The results are in...</h3>
                    <div class="nlp-result" id="agreement"></div>
                    <div class="nlp-result" id="subjectivity"></div>
                    <div class="nlp-result" id="irony"></div>
                    <div class="nlp-result" id="confidence"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>This application is powered by <a href="https://www.meaningcloud.com/" target="_blank">Meaning Cloud</a>. Big thanks to them for making this Natural Language Processing feature freely available!</p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
           </script>
    </body>
</html>
